@import '../../globals';

.Element {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid $fourth;
  width: 15rem;
  height: 7.5rem;
  margin: 0.5rem 0.5rem;
  box-shadow: 5px 0px 10px $third;
  cursor: pointer;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 5px 25px 5px $third;
    transform: translateY(-15px);

    .Name {
      color: $fourth;
    }
  }

  img {
    cursor: inherit;
  }

  .Desc {
    width: 50%;
    animation: showUp 0.25s;
  }

  .Name {
    font-weight: bold;
    cursor: pointer;
  }

  .Type {
    cursor: pointer;
    font-size: 0.7rem;
  }

  .Height {
    cursor: pointer;
  }
  .Weight {
    @extend .Height;
  }
}

.Element--dark {
  @extend .Element;
  border: 2px solid $fourth--dark;
  box-shadow: 5px 0px 10px $secondary--dark;
  color: $text--dark;

  .Name--dark {
    font-weight: bold;
    color: $text--dark;
  }
  .Desc--dark {
    color: $text--dark;
    width: 50%;
    animation: showUp 0.25s;
  }
  .Type--dark {
    cursor: pointer;
    font-size: 0.7rem;
    color: $text--dark;
  }
  &:hover {
    box-shadow: 5px 25px 15px $secondary--dark;
    transform: translateY(-15px);

    img {
      cursor: inherit;
    }

    .Name--dark {
      font-weight: bold;
      cursor: pointer;
      color: $secondary;
    }
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
