$main: #f1f1f2;
$secondary: #bcbabe;
$third: #a1d6e2;
$fourth: #1995ad;
$darkred: #8b0000;
$text: black;

$main--dark: black;
$secondary--dark: gray;
$third--dark: lightgray;
$fourth--dark: gray;
$darkred--dark: red;
$text--dark: white;
