@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import './globals';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $text;
  cursor: default;
  user-select: none;
}

.App {
  min-height: 100vh;
  animation: opacityAnimation 1s ease-in-out;
  text-align: center;
  background: $main;
  background: -webkit-linear-gradient(to right, $secondary, $main);
  background: linear-gradient(to right, $secondary, $main);

  h1 {
    padding-top: 3rem;
  }
}

.App--dark {
  @extend .App;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);

  h1 {
    padding-top: 3rem;
    color: white;
  }
}

.Button {
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color: $main;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 15px;
  height: 2rem;
  width: 10rem;

  &:hover {
    box-shadow: 5px 0px 20px gray;
  }

  span {
    cursor: pointer;
  }
}

.Button--dark {
  @extend .Button;
  color: white;
  background-color: black;

  span {
    color: white;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
